body {
    margin: 0;
    font-family: 'Museo Sans', Arial, sans-serif;
    background-color: #010101;

    overflow: scroll;
    overflow-x: hidden;
}



/*CONTACT*/


.container {

    width: 98%;
    display: flex;
    gap: 20px;
    padding-top: 80px;
    border-radius: 20px;
    /* align-items: center; */
    justify-content: center;
    margin-top: 100px;
}

.card {
    background: linear-gradient(155deg, #1B1B1B, #E60052, #A100E6);
    border-radius: 20px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 450px;
    max-height: 700px;
}

.card-content {
    color: #fff;
}

.card-title {
    line-height: 10px;
    font-weight: 500;
    font-size: 32px;
}
#text-title-change{
    font-weight: 900;
}

.card-subtitle {
    display: flex;
    gap: 10px;
    flex-direction: column;

}

.card-subtitle p{
    font-size: 20px;
    /* line-height: 22px; */
    font-weight: 500;
}

.card-subtitle i{
font-size: 30px;
    color: white;
    /* gap: 10px; */
}
.link-icons{
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.card-subtitle a {
    color: #fff;
    /* font-size: 20px; */
    font-weight: 900;
    letter-spacing: 1px;
    text-decoration: underlines;
}



.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 98%; /* Ajusta a largura para ocupar 100% em telas menores */
    max-width: 650px;
}

.contact-form input {
    background-color: #1B1B1B;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 25px;
    font-size: 18px;
    height: 65px;
    width: 100%; /* Ajusta a largura para ocupar 100% em telas menores */
    font-family: 'Museo Sans', Arial, sans-serif;

}
.contact-form textarea{
    background-color: #1B1B1B;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 25px;
    font-size: 18px;
    height: 350px;
    width: 100%; /* Ajusta a largura para ocupar 100% em telas menores */
    font-family: 'Museo Sans', Arial, sans-serif;

}
.contact-form button {
    font-family: 'Museo Sans Rounded', sans-serif;
    ;

    background-color: #E60052;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 15px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; /* Ajusta a largura para ocupar 100% em telas menores */
    max-width: 200px;
        align-self: self-end;
    font-weight: 700;

}

.contact-form button:hover {
    background-color: #c40045;
}

input::placeholder, textarea::placeholder {
    color: white; /* Altere a cor do texto do placeholder aqui */
    padding-left: 20px;
}
textarea::placeholder {
    padding-top: 20px;
}





/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
    
    body{
        display: flex;
        align-items: center;
        /* justify-content: center; */
    }
    .navbar-list, .navbar-lang {
        display: none; /* Oculta o menu para ser substituído por um menu hambúrguer */
    }

    .container {
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        /* padding-left: 20px; */
        margin-left: 4%;
    }

    .card {
        width: 80%; /* Limita a largura da card em telas menores */
        height: 300px;
        /* margin-right: 10%; */
    }
    .contact-form{
        width: 80%; /* Limita a largura da card em telas menores */
        /* height: 300px; */

    }
    .contact-form input, .contact-form textarea {
        width: 104%;
        max-width: none; /* Remove o limite de largura para ocupar o espaço disponível */

    }

    .contact-form button {
        width: 100%; /* O botão ocupa toda a largura do formulário */
        align-self: center;
        margin-left: 15%
    }

    .card-title {
        font-size: 28px;
    }

    .card-subtitle p {
        font-size: 18px;
    }

    .card-subtitle i {
        font-size: 24px;
    }

    .contact-form textarea {
        height: 200px;
    }
}

/* Ajustes para telas muito pequenas */
@media (max-width: 480px) {
    .navbar-brand img {
        height: 24px;
    }

    .card-title {
        font-size: 24px;
    }

    .card-subtitle p {
        font-size: 16px;
    }

    .card-subtitle i {
        font-size: 20px;
    }

    .contact-form button {
        font-size: 16px;
    }

    .contact-form textarea {
        height: 150px;
    }
}