body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

body.dimmed::before {
    opacity: 1;
}

body,
html {
    height: 100%;
    margin: 0;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Museo Sans', Arial, sans-serif;
    /* overflow:hidden; */

}

.background-circles {
    overflow:hidden;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

@keyframes moveUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-100px) translateX(-80px);
    }
}

.circle {
    position: absolute;
    width: 900px;
    height: 900px;
    border-radius: 50%;
    filter: blur(50px);
    opacity: 0.20;
    animation: moveUpDown 8s ease-in-out infinite alternate;
}

.circle.red1 {
    background-color: #E60052;
    top: 10%;
    left: 25%;
    animation-duration: 10s;
    animation-delay: -2s;
}

.circle.red2 {
    background-color: #E60052;
    top: 30%;
    left: 70%;
    animation-duration: 12s;
    animation-delay: -1s;
}

.circle.purple1 {
    background-color: #A100E6;
    top: -10%;
    left: 1%;
    animation-duration: 8s;
    animation-delay: -3s;
}

.circle.purple2 {
    background-color: #A100E6;
    top: 60%;
    left: 40%;
    animation-duration: 7s;
    animation-delay: -2.5s;
}

.circle.orange1 {
    background-color: #E56100;
    top: -10%;
    left: 40%;
    animation-duration: 9s;
    animation-delay: -1.5s;
}

.circle.orange2 {
    background-color: #E56100;
    top: 60%;
    left: 10%;
    animation-duration: 10s;
    animation-delay: -2.8s;
}


.line {
    display: flex;
    justify-content: space-between;
    height: 180px;
}

#text:has(.fancy:hover) .word:not(.fancy) {
    opacity: 0.2;
}

#link {
    text-decoration: none;
}

.fancy {
    cursor: pointer;
    position: relative;
    z-index: 4;

}

.fancy>.letter {
    display: inline-block;
}

.fancy.hover>.letter {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* .fancy.hover>.letter:nth-child(1) {
    transform: translate(-80%, 60%) rotate(8deg);
}

.fancy.hover>.letter:nth-child(2) {
    transform: translate(-40%, 20%) rotate(4deg);
}

.fancy.hover>.letter:nth-child(3) {
    transform: translate(-10%, 60%) rotate(-6deg);
}

.fancy.hover>.letter:nth-child(4) {
    transform: translate(0%, 8%) rotate(-8deg);
}

.fancy.hover>.letter:nth-child(5) {
    transform: translate(0%, -20%) rotate(5deg);
}

.fancy.hover>.letter:nth-child(6) {
    transform: translate(0%, 20%) rotate(-3deg);
}

.fancy.hover>.letter:nth-child(7) {
    transform: translate(0%, -40%) rotate(-5deg);
}

.fancy.hover>.letter:nth-child(8) {
    transform: translate(0%, 15%) rotate(10deg);
}

.fancy.hover>.letter:nth-child(9) {
    transform: translate(0%, -50%) rotate(8deg);
}

.fancy.hover>.letter:nth-child(10) {
    transform: translate(0%, 15%) rotate(-6deg);
}

.fancy.hover>.outer:nth-child(11) {
    transform: translate(50%, -10%) rotate(-3deg);
}

.fancy.hover>.outer:nth-child(12) {
    transform: translate(120%, -30%) rotate(-10deg);
}
 */

/* General hover effect for any fancy word */
.fancy.hover>.letter {
    transition: transform 0.3s ease, opacity 0.3s ease;
}



.first-name>.letter:nth-child(1) {
    font-family: 'Fleisch-Wolf', Arial, sans-serif;
    font-size: 138px;

}

.first-name>.letter:nth-child(5) {
    font-family: 'Fleisch-Wolf', Arial, sans-serif;
}

.first-name>.letter:nth-child(9) {
    font-family: 'Fleisch-Wolf', Arial, sans-serif;
}

.last-name>.letter:nth-child(1) {
    font-size: 138px;
}

.last-name>.letter:nth-child(3) {
    font-family: 'Fleisch-Wolf', Arial, sans-serif;
}

.last-name>.letter:nth-child(5) {
    font-family: 'Fleisch-Wolf', Arial, sans-serif;
}



/* Hover effects for the first-name */
.first-name.hover>.letter:nth-child(1) {
    transform: translate(-70%, -40%) rotate(8deg);
}


.first-name.hover>.letter:nth-child(2) {
    transform: translate(-40%, -20%) rotate(4deg);
}

.first-name.hover>.letter:nth-child(3) {
    transform: translate(-50%, -50%) rotate(-6deg);
}

/* Hover effects for the first-name */
.first-name.hover>.letter:nth-child(4) {
    transform: translate(-20%, -10%) rotate(-8deg);
}

.first-name.hover>.letter:nth-child(5) {
    transform: translate(10%, 20%) rotate(5deg);
}

.first-name.hover>.letter:nth-child(6) {
    transform: translate(30%, -10%) rotate(-3deg);
}

.first-name.hover>.letter:nth-child(7) {
    transform: translate(50%, 10%) rotate(4deg);
}

.first-name.hover>.letter:nth-child(8) {
    transform: translate(40%, -20%) rotate(-6deg);
}

.first-name.hover>.letter:nth-child(9) {
    transform: translate(130%, 0%) rotate(2deg);
}



/* Hover effects for the last-name */
.last-name.hover>.letter:nth-child(1) {
    transform: translate(-80%, 70%) rotate(5deg);
}

.last-name.hover>.letter:nth-child(2) {
    transform: translate(-50%, 30%) rotate(-3deg);
}

.last-name.hover>.letter:nth-child(3) {
    transform: translate(-20%, 20%) rotate(-4deg);
}

/* Hover effects for the last-name */
.last-name.hover>.letter:nth-child(4) {
    transform: translate(-0%, 40%) rotate(8deg);
}

.last-name.hover>.letter:nth-child(5) {
    transform: translate(-10%, -10%) rotate(2deg);
}

.last-name.hover>.letter:nth-child(6) {
    transform: translate(10%, 20%) rotate(-3deg);
}

.last-name.hover>.letter:nth-child(7) {
    transform: translate(30%, -10%) rotate(4deg);
}

.last-name.hover>.letter:nth-child(8) {
    transform: translate(50%, 20%) rotate(-6deg);
}

.last-name.hover>.letter:nth-child(9) {
    transform: translate(70%, -30%) rotate(5deg);
}

.last-name.hover>.letter:nth-child(10) {
    transform: translate(90%, 10%) rotate(-2deg);
}

.last-name.hover>.letter:nth-child(11) {
    transform: translate(110%, 20%) rotate(3deg);
}

.last-name.hover>.letter:nth-child(12) {
    transform: translate(130%, -10%) rotate(-4deg);
}


.word {
    transition: opacity 250ms ease;

}

.fancy>.letter {
    display: inline-block;
    transition: transform 0.3s ease, opacity 0.3s ease;
    /* Adicionado tempo de transição */
}


.first-name {

    margin: 0;
    font-family: 'Museo Sans', Arial, sans-serif;
    font-size: 158px;
    font-weight: 500;

    white-space: nowrap;
    /* Evita que o texto quebre em várias linhas */
    /* Esconde qualquer parte do texto que exceda o tamanho máximo */
    text-overflow: ellipsis;
    /* Adiciona reticências (...) se o texto estiver cortado */
}

#plus {
    margin: 0;
    font-family: 'Fleisch-Wolf', Arial, sans-serif;
    font-size: 158px;
    font-weight: 500;
    z-index: 3;
    margin-left: 40px;
}

.last-name {
    font-size: 158px;
    /* Mantém o mesmo tamanho do primeiro nome */
    font-weight: 500;
}

#link-projects {
    margin-top: 100px;
    /* Espaçamento acima do parágrafo */
    font-family: 'Museo Sans', Arial, sans-serif;
    font-size: 45px;
    font-weight: 500;
    color: white;
    text-decoration: underline;
    /* Adiciona sublinhado ao texto dentro do link */
    position: relative;
    /* Define posição relativa para o link */
    display: inline-block;

    z-index: 3;

}

#seta {
    display: inline-block;
    /* Torna a seta um elemento em linha */
    margin-left: 10px;
    /* Espaço entre o texto e a seta */
    /* vertical-align: middle; */
    /* Alinha verticalmente com o texto do link */
}



.container {
    position: relative;
    /* Garante que o posicionamento relativo funcione corretamente */
    /* z-index: 2; */
    /* Ajusta a ordem de camadas conforme necessário */
    text-align: center;
    /* Centraliza o conteúdo dentro da div */

    overflow:visible;
}

/* 
@keyframes fontChange {
    0%, 100% {
        font-family: 'Museo Sans', Arial, sans-serif;
    }
    50% {
        font-family: 'Fleisch-Wolf', Arial, sans-serif;
    }
}

.letter {
    display: inline-block;
    font-family: 'Museo Sans', Arial, sans-serif; /* Default font 
    transition: font-family 0.5s ease;

}

.letter.special {
    animation: fontChange 4s infinite;
}

.text{
    width: 100%;
    height: 100%;
} */


@keyframes colorWave {
    0% { color: #E56100; }
    33% { color: #A100E6; }
    66% { color: #E60052; }
    100% { color: #E56100; }
}

/* @keyframes sizeIncrease {
    0% { font-size: 45px; }
    100% { font-size: 48px; }
} */

#link-projects:hover .letter {
    animation: colorWave 3s ease-in-out infinite;
    transition: 0.3s;
}

#link-projects:hover {
    color: rgb(212, 212, 212); 
    text-decoration: none;
    transition: 0.2s;
}


/* Estiliza o contêiner do ícone */
#icon-container {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px; /* Ajuste conforme necessário */
    height: 48px; /* Ajuste conforme necessário */
    background-color: #E60052; /* Cor rosa do contêiner */
    border-radius: 50%; /* Faz o contêiner ficar redondo */
    z-index: 10; /* Garante que o contêiner fique acima de outros elementos */
    transition: background-color 0.3s ease; /* Transição suave para a mudança de cor */
}

/* Estiliza o ícone */
#plane-icon {
    color: #fff; /* Cor branca do ícone */
    font-size: 20px; /* Tamanho do ícone */
}

/* Estilo para o contêiner ao passar o mouse */
#icon-container:hover {
    background-color: #A100E6; /* Cor rosa do contêiner ao passar o mouse */
}

#icon-container i {
    margin-right: 3px;
    margin-bottom: 2px;
}

a{
    text-decoration: none;
    color: white;
}